{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "@infinumjs/eslint-config-core-ts",
  "rules": {
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/ban-types": 1,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
