{
  "extends": ["plugin:@infinum/core", "plugin:@infinum/typescript"],
  "parserOptions": {
    "project": ["./packages/datx/tsconfig.json"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended-requiring-type-checking"]
    }
  ]
}
