{
  "presets": [
    [
      "next/babel",
      {
        "class-properties": {
          "loose": true
        }
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
